/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

/* GENERAL */
#active {
    background: #000;
    color: #fff;
}

.home-container {
    width: 1430px;
    margin: 0 auto;
}

.home-container header {
    background: #E0E0E0;
    box-shadow: 0 2px #888888;
}

.home-container .header-container {
    padding: 40px;
}

.home-container header h1 {
    font-size: 4rem;
}

.home-container header .header-container nav {
    padding: 20px;
    display: flex;
}

.home-container header .header-container nav a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    border: 1px solid black;
    background: #fff;
    padding: 5px 10px;
    margin: 0;
}

.home-container main .about-me-section {
    display: flex;
}

.home-container main .about-me-section .image-container {
    /* display: inline; */
}

.home-container main .about-me-section img {
    width: 40%;
    padding: 20px;
}

.home-container main .about-me-section .about-me-container h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home-container main .about-me-section .about-me-container .button-container {
    margin-bottom: 20px;
}

.home-container main .about-me-section .about-me-container .button-container button {
    font-size: 1.8rem;
    padding: 5px 10px;
    background: #fff;
    cursor: pointer;
}

.home-container main .about-me-section .about-me-container {
    display: flex;
    /* align-items: center; */
    margin-left: 10%;
    justify-content: center;
    flex-flow: column wrap;
    padding: 20px;
}

.home-container main .about-me-section .about-me-container .text-container {
    flex-wrap: wrap;
    width: 50%;
}

.home-container main .about-me-section .about-me-container .text-container p {
    font-size: 2.5rem;
}

.home-container main .gallery {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: space-around;
    /* width: 1400px;
    margin: 0 auto; */
    height: 500px;
    margin-bottom: 20px;
}

.home-container main .gallery .first-project-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.home-container main .gallery .second-project-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.home-container main .gallery .img-box {
    display: flex;
    /* justify-content: center; */
    flex-flow: column wrap;
    align-items: center;
}

.home-container main .gallery .img-box p {
    font-size: 2rem;
}

.home-container main .gallery .img-box a img {
    width: 300px;
    margin-bottom: 10px;
    /* margin: 20px; */
    /* align-content: space-around; */
}

footer {
    background: #E0E0E0;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    padding: 40px;
}

footer .text-container {
    margin-bottom: 20px;
}

footer .text-container p {
    font-size: 2.5rem;
}

footer .button-container {

}

footer .button-container button {
    font-size: 2rem;
    padding: 10px 20px;
    background: #fff;
    cursor: pointer;
}