/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

/* GENERAL */
#active {
    background: #000;
    color: #fff;
}

.home-container {
    /* width: 1430px; */
    /* margin: 0 auto; */
}

.home-container header {
    background: #E0E0E0;
    box-shadow: 0 2px #888888;
    width: 100%;
}

.home-container .header-container {
    padding: 40px;
    width: 100%;
}

.home-container header h1 {
    font-size: 4rem;
}

.home-container header .header-container nav {
    padding: 20px;
    display: flex;
}

.home-container header .header-container nav a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    border: 1px solid black;
    background: #fff;
    padding: 5px 10px;
    margin: 0;
}

.home-container main {
    /* width: 100%; */
}

.home-container main .about-me-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}

.home-container main .about-me-section .image-container {
    /* display: inline; */
    /* display:flex; */
    /* justify-content: flex-start; */
    width: 50%;
}

.home-container main .about-me-section img {
    width: 100%;
    padding: 20px;
}

.home-container main .about-me-section .about-me-container h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home-container main .about-me-section .about-me-container .button-container {
    margin-bottom: 20px;
}

.home-container main .about-me-section .about-me-container .button-container button {
    font-size: 1.8rem;
    padding: 5px 10px;
    background: #fff;
    cursor: pointer;
}

.home-container main .about-me-section .about-me-container {
    display: flex;
    /* align-items: center; */
    /* margin-left: 5%; */
    /* justify-content: center; */
    flex-flow: column wrap;
    /* flex-direction: column; */
    /* padding: 20px; */
    width: 40%;
    /* height: 30%; */
    /* margin: 0 auto; */
}

.home-container main .about-me-section .about-me-container .text-container {
    flex-wrap: wrap;
    width: 50%;
}

.home-container main .about-me-section .about-me-container .text-container p {
    font-size: 2.5rem;
}

.home-container main .gallery {
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: space-around; */
    /* align-items: space-around; */
    /* width: 100%;  */
    /* margin: 0 auto;  */
    /* height: 500px; */
    margin: 20px 0;
}

.home-container main .gallery .project-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.home-container main .gallery .img-box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* flex-flow: column wrap; */
    align-items: center;
    margin-bottom: 30px;
}

.home-container main .gallery .img-box p {
    font-size: 2rem;
}

.home-container main .gallery .img-box a img {
    width: 300px;
    height: 250px;
    margin-bottom: 10px;
    /* margin: 20px; */
    /* align-content: space-around; */
}

footer {
    background: #E0E0E0;
    /* display: flex; */
    /* align-items: flex-end; */
 
}

.home-container footer .content-container {
    display: flex;
    justify-content: center;
    /* flex-flow: column wrap; */
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

footer .content-container .text-container {
    margin-bottom: 20px;
}

footer .content-container .text-container p {
    font-size: 2.5rem;
}

footer .button-container {

}

footer .content-container .button-container button {
    font-size: 2rem;
    padding: 10px 20px;
    background: #fff;
    cursor: pointer;
}
/* --------------------------------- */
/* -------- MEDIA QUERIES-------- */
/* --------------------------------- */
/* --------- TABLET --------- */
@media (max-width: 800px) {
    /* MAIN - About Me */
    .home-container main .about-me-section .about-me-container {
        /* width: 0; */
        align-items: center;
        justify-content: center;
        padding: 0 2%;
    }
    .home-container main .about-me-section .about-me-container h2 {
        /* width: 0;
        align-items: center;
        justify-content: center; */
        font-size: 3rem;
    }

    .home-container main .about-me-section .about-me-container .text-container  {
        width:100%;
    }
    .home-container main .about-me-section .about-me-container p {
     width: 100%;
     padding: 3% 0;
     font-size: 1rem;
    }
}
/* --------- PHONE --------- */
@media (max-width: 500px) {
    /* HEADER - Title */
    .home-container header h1 {
        text-align: center;
        font-size: 6rem;
    }
    /* NAVIGATION */
    .home-container header nav {
        flex-flow: column wrap;
        justify-content: center;
        /* align-items: center; */
        text-align: center;
        width: 100%;
    }
    /* MAIN - About Me */
    .home-container main .about-me-section {
        flex-flow: column wrap;
    }

    .home-container main .about-me-section .image-container {
        width: 100%;
    }
    .home-container main .about-me-section img {
        width: 100%;
    }
    .home-container main .about-me-section .about-me-container {
        width: 90%;
    }
    /* GALLERY */
    .home-container main .gallery .img-box a img {
        width: 200px;
        height: 200px;
    }
}